.ticker {
    display: flex;
    width: min(100px, 100%);
    justify-content: center;
    align-items: center;
}

.ticker__list {
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    animation: ticker 20s infinite linear;
}

.ticker:hover .ticker__list {
    animation-play-state: paused;
}

.ticker__item {
    width: 400px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px; */
    border-radius: 8px;
    margin: 0px 24px;
    padding: 10px 20px;
}

.ticker__item svg, .ticker__item img {
    margin: 13px 0;
    width: auto;
}

.ticker__item img {
    width: 350px;
    height: 220px;
    border-radius: 7px;
}

.ticker__item.Testimonials {
    display: flex;
    flex-direction: column;
}

@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

.smallTicker {
    width: 100%;
    overflow: hidden;
}