section#contact {
    margin: 13px 0;
}

section#contact form>* {
    width: 100%;
}

section#contact form input,
section#contact form textarea {
    width: 100%;
    padding: 11px;
    border: 0.1px solid var(--main-color-2-alpha);
    border-radius: 5px;
    outline-color: var(--main-color-1);
    transition: .6s ease-in-out;
}

section#contact form {
    width: min(600px, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

section#contact form button {
    background: var(--main-color-1);
    border: 0;
    font-size: 20px;
    width: 100%;
}

section#contact form textarea {
    resize: vertical;
}